.item {
  margin: 20px 0;
  padding: 30px 40px;
  background-color: #fff;
  .market {
    color: red;
  }
  .title {

    font-size: 26px;
    color: #ccc;
  }
}
.btn {
  margin: 80px 40px 0;
}
page {
  background-color: #F0F0F0;
}